<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="lof_pos_outlet_listing_data_source" xsi:type="string">Lof\Outlet\Model\ResourceModel\Outlet\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Lof\Outlet\Model\ResourceModel\Outlet\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lof_pos_outlet</argument>
            <argument name="resourceModel" xsi:type="string">Lof\Outlet\Model\ResourceModel\Outlet</argument>
        </arguments>
    </virtualType>
    <preference for="Lof\Outlet\Api\OutletGetDetailManagementInterface" type="Lof\Outlet\Model\OutletGetDetailManagement"/>
</config>