<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lof_Outlet::outlet" title="POS" module="Lof_Outlet" sortOrder="15" resource="Lof_Outlet::outlet"/>
        <add id="Lof_Pos::outlet_outlet_new" title="Outlets" module="Lof_Outlet" sortOrder="20" parent="Lof_Pos::pos" action="lofoutlet/outlet/index" resource="Lof_Outlet::outlet"/>
    </menu>
</config>